body {
  font: 100% Helvetica, sans-serif;;
  color: #333;
  background: #0f4c81;
}

.container{
margin-top: 2%;
}


#info{
margin-top: 2%;  
}

.ui.header.title{
padding-top: 5%;  
}

.hide{
display: none;
}

.show{
display: block;
}

.india-table-info{
margin-top: 2%; 
}

@media only screen and (max-width: 600px) {
.ui.header.title{
padding-top: 15%;
}

}